.main_body_wrapper{
    display: grid;
    grid-template-rows: 250px 250px 250px;
    grid-row: 3;
    grid-template-columns: 768px;
    .form{
        grid-column: 1;
        grid-row: 2 ;
        width: 100%;
        height: auto;
        max-width: 100%;
        padding: 0px;
        margin: 0px;
        .form-control{
            max-width: 100%;
        }
        .form-group{
            width: 50%;
            margin-left:186px ;
        }
        .container jf-form{
            margin:0px;
            padding: 0px;
        }
        .container{
            margin:0px;
            padding: 0px;
        }
    }/* end of form*/
    .text{
        grid-row:1;
        grid-column: 1;
        width: 100%;
        height: auto;
    }
    .map{
        grid-row: 3;
        grid-column: 1;
        width: 100%;
        height: auto;
        iframe{
            margin-left: 84px;
        }
    }
}/* end of main_body_wrapper*/
@media only screen and (min-width:768px){
    .main_body_wrapper{
        grid-row: 3;
        display: grid;
        grid-template-rows: 300px 300px;
        grid-template-columns: 960px 960px;
        margin-bottom: 130px;
        .form{
            grid-column: 1;
            grid-row: 1 / span 2;
            width: 100%;
            max-width: 960px;
            height: auto;
            padding: 0px;
            margin: 0px;
            .form-control{
                max-width: 960px;
            }
            .form-group{
                width: 50%;
    
            }
        }/*end of form*/
        .text{
            grid-row:1;
            grid-column: 2;
            width: 100%;
            height: auto;
        }
        .map{
            grid-row: 2;
            grid-column: 2;
            width: 100%;
            height: auto;
            max-width: 960px;
        }
    }
    
}