.main_body_wrapper{
    grid-row: 3;
        display:grid;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        .left_feed{
            width:90%;
            max-height: 100%;
            margin-right: 5%;
            margin-left: 5%;
            grid-row:1;
        }
        .text{
            width:100%;
            grid-row: 2;
        }
        .right_feed{
            width:90%;
            max-height: 100%;
            margin-left: 5%;
            margin-right: 5%;
            grid-row:3;
        }
}/* end of main_body_wrapper*/

@media only screen and (min-width:768px){
    .main_body_wrapper{
        grid-row: 3;
        display:grid;
        grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
        .left_feed{
            width:90%;
            max-height: 100%;
            margin-right: 10%;
        }
        .text{
            width:100%;
        }
        .right_feed{
            width:90%;
            max-height: 100%;
            margin-left: 10%;
        }
    }  
}