.main_body_wrapper{
    display: grid;
    grid-template-rows: 250px, 250px;
    grid-row: 3;
    grid-template-columns: 384px, 384px;
    .image1{
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    .image2{
        grid-row:1;
        grid-column: 2;
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    .desc{
        grid-column: 1 / span 2;
    }
}