html{
    display: grid;
    grid-template-rows: 4, 1fr;
}
body{
    background-color: #181c25;
    max-width: 768px;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    font-weight: bold;
    background-color: #24272e;
    grid-row: 1;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    width:100%;
    max-width: 1200px;
    li{
        list-style: none;
        a{
            text-decoration: none;
            text-align: center;
            display: inline-block;
            /*box-shadow: $shadow;*/
            width: 100%;
            padding: 0.5em;
            padding-top: 0.5em;
            color: lightgray;
            border-color:#004d4d;
            border-style:solid;
            border-width: 2px;
            border-right: none;
        }
        a:hover{
            color: whitesmoke;
        }
        a:last-child{
            border-right-style: solid;
        }
        
    }
    
}